# My Jupyter Notebook on IBM Watson Studio

**PRITAM DAS** <br>
Data Scientist

*I am interested in data science because I am enthusiastic about data, especially considering how quickly technology is changing the profession. I enjoy being a part of new technologies and trying out innovative solutions. I am especially interested in artificial intelligence and machine learning and I am eager to use AI in a more practical capacity. I want to use predictive analysis to instinctively cater to customers needs.*

### The below code would simply calculate the addition of two numbers 4 and 5 which is equal to 9

In [2]:
4+5

9

<ul>Bulleted list

<li>Chips</li>
<li>Eggs</li>
<li>Chicken</li>
</ul>
<br>
<ol>Numbered list
<li>Fish</li>
<li>Fruits</li>
<li>Burgers</li>
</ol>

<br>

Tables
<table>
<tr>
<th>Name</th>
<th>Address</th>
<th>Salary</th>
</tr>

<tr>
<td>Pritam</td>
<td>India</td>
<td>4000</td>
</tr>

<tr>
<td>Das</td>
<td>Sydney</td>
<td>5000</td>
</tr>
</table>

StrikeThrough<br>
~This is an example of strikethrough~